<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
		<link rel = "stylesheet" type = "text/css" href = "./style/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <script src="https://kit.fontawesome.com/9a4c809e35.js" crossorigin="anonymous"></script>
</head>
	<body>
		<nav class="navtop">
			<div>
            	<a href="/"><h1>BSU Bank</h1></a>
				<a href="/login"><i class="fa-regular fa-user"></i>Log In</a>
                <a href="/register"><i class="fa-solid fa-user-plus"></i>Sign Up</a>

			</div>
		</nav>
	<div>
            <h1>Banking With BSU</h1>
            <div class = "containInfo">
                <h2>New way to Bank with your collegues</h2>
				<h3>Link to the Report:</h3>
				<a href="https://kalekidanbekele.github.io/BSUBank-Report/Home.html"> BSU Bank Report</a>
            </div>


</body>
</html>