<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
		<link rel = "stylesheet" type = "text/css" href = "./style/style.css">
		<script class="u-script" type="text/javascript" src="/routes/jquery-1.9.1.min.js" defer=""></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <script src="https://kit.fontawesome.com/9a4c809e35.js" crossorigin="anonymous"></script>
</head>
	<body>
		<nav class="navtop">
			<div>
            	<a href="/"><h1>BSU Bank</h1></a>
				<a href="/login"><i class="fa-regular fa-user"></i>Log In</a>
                <a href="/register"><i class="fa-solid fa-user-plus"></i>Sign Up</a>
				<a href="https://kalekidanbekele.github.io/BSUBank-Report/Home.html"> Report</a>

			</div>
		</nav>
	 <section class="u-clearfix u-section-1" id="sec-7d50">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-style u-group u-opacity u-opacity-55 u-radius-42 u-shape-round u-white u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-text u-text-default u-text-1">BSU Banking</h1>
            <h4 class="u-text u-text-default u-text-2"> New Way to Bank With Your Colleagues</h4>
          </div>
        </div>
        <div class="u-container-style u-group u-image u-image-round u-radius-50 u-shape-round u-image-1" data-image-width="750" data-image-height="750">
          <div class="u-container-layout u-container-layout-2"></div>
        </div>
      </div>
    </section>


</body>
</html>